.details-top {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/**/
.details-card {
    line-height: 1.5;
    padding: 10px 15px;
}
/**/
.details-card-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.details-card-img img {
    width: 250px;
    height: 250px;
}
/**/
.details-card-content h2 {
    font-size: 20px;
    font-weight: 500;
}
.details-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    font-weight: 400;
    margin-bottom: 20px;
}
.details-description {
    color: gray;
}
/**/
.details-adjust {
    display: flex;
    justify-content: space-between;
}
.portion-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.portion-num {
    font-size: 18px;
}
.portion-btn {
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #ef2a39;
    border-radius: 10px;
}
.spicyLvl {
    color: #ef2a39;
    background-color: #ef2a39;
}
.mild-hot-con {
    display: flex;
    justify-content: space-between;
}
